body {
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
    font-family: 'Helvetica', sans-serif;
    color: #444;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    background: #4ca1af;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

form button:active {
    background-color: #003f7f;
}

button, .back-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .back-button:hover {
    background-color: #0056b3;
}

button:active, .back-button:active {
    background-color: #003f7f;
}
